body {
  background-color: aquamarine;
}
 div #ybv {
 background-color: blue;
   
}
div#12{
background-color: blue;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#info{
  background-color:#B399A2  
}
body{
  background-color: #BBE5ED;
}